footer {
  text-align: center;
  background: Silver;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 99.5%;
  border-top: 1px solid gray;

  &>b {
    color: white;
    font-size: larger;
    letter-spacing: 0.7em;
  }
}
