@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/font-awesome/css/font-awesome.css";

body,
html {
  width: 400px;
  height: auto;
  background-color: #eee;
  border: 1px solid Gray;
}

nav {
  // border: 1px solid red;
}

main {
  // border: 1px solid green;
  margin-top: 13px;
  min-height: 340px;
}


.custom-toggler {
  border: none;
  background-color: transparent;
  outline: none;
}

.custom-toggler-icon {
  font-size: 24px;
  color: #000;
  position: relative;
  top: 3px;
}