<h1>DoDo Framework</h1>
<p class="image"><img src="/assets/img/dodo.png" alt="DoDo Framework"></p>
<p>Start a new single page app project with DoDo Framework.</p>
<pre>
  $ git clone -b master https://github.com/miko-soft/create-dodo-boilerplates.git [projectName]
  $ cd [projectName]
  $ rm -rf .git && git init
  $ npm install
</pre>

or just
<pre>$ npm init create-dodo [projectName]</pre>

<br><br>
Now build your app with vanilla HTML, SCSS and JS files.
<br>The documentation at <a href="http://dodo.mikosoft.info">http://dodo.mikosoft.info</a> .
