nav {
  text-align: center;
  background: #eee;
  padding: 5px;
  border-bottom: 1px solid Gray;

  &>b {
    font-size: larger;
    letter-spacing: 0.7em;
  }

  &>a {
    float: left;
    color: rgb(0, 110, 255);
    margin-right: 21px;
    text-decoration: none;
    font: 18px Verdana;
    font-weight: bold;

    &:hover {
      color: orangered;
    }
  }
}
